<html>
  <head>
  </head>
  <body>
    <h1> Your Shopify products: </h1>
    <ul>
    <% @products.each do |product| %>
      <li><%= product['title'] %></li>
    <% end %>
    </ul>
  </body>
</html>